POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_NAME=kittygram
DB_HOST=db
DB_PORT=5432
SECRET_KEY=django-123
ALLOWED_HOSTS = 84.201.176.157,127.0.0.1,mylittlekitty.sytes.net,localhost
